@import "tailwindcss";



html {
  scroll-behavior: smooth;
}


body{
  background-color: #000000;
}
/* global.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: 768px) {
  .container {
    padding: 0 10px;
  }
}

.slider {
  width: 100%;
  overflow: hidden;
}
.dolor_container .swiper {
  padding: 15px 0px;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}

.firsts_slider .swiper-slide {
  width: auto !important;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.firsts_slider .swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: contain;
}




img.toolWeTrust {
  width: 100px !important;
}

.image_background {
  border-radius: 15px;
  background-image: url("./assets//Images//Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

@media (max-width: 1023px) {
  .image_background {
    background-image: none !important;
  }
}


@media (max-width:768px) {
  .dolor_container {
    flex-wrap: wrap;
  }
}
@media(max-width: 540px){
  .tool_div{
    max-width:281px;
  }
}


@media(max-width:299px){
  .image_ab{
    /* display: none; */
    height: 18px;
    width: 18px;
  }
}
@media(min-width:300px) and (max-width:350px){
  .image_ab{
    /* display: none; */
    height: 20px;
    width: 20px;
  }
}
@media (min-width:351px) and (max-width:402px){
  .image_ab{
    /* display: none; */
    height: 25px;
    width: 25px;
  }
}
@media(min-width:411px) and (max-width:529px){
  .image_ab{
    /* display: none; */
    height: 30px;
    width: 30px;
  }
}
@media(min-width:530px) and (max-width:600px){
  .image_ab{
    /* display: none; */
    height: 40px;
    width: 40px;
  }
}
@media(min-width:601px) and (max-width:639px){
  .image_ab{
    /* display: none; */
    height: 50px;
    width: 50px;
  }
}
@media(min-width:640px) and (max-width:750px){
  .image_ab{
    /* display: none; */
    height: 50px;
    width: 50px;
  }
}

@media(min-width:751px) and (max-width:1024px){
  .image_ab{
    /* display: none; */
    height: 70px;
    width: 70px;
  }
}


/* animations  */
 

/* next launching effect  */
.text-sweep {
  background: linear-gradient(
    90deg,
    #c58962 0%,
    #c58962 40%,
    rgba(74, 74, 74, 0.6) 50%,
    #c58962 60%,
    #c58962 100%
  );

  background-size: 200% 100%;

  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  /* display: inline-block; */

  animation: sweep 3s linear infinite;
}

@keyframes sweep {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}



/*  lets connect button effect */
.btn-slide {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

/* sliding layer */
.btn-slide::before {
  content: "";
  position: absolute;
  inset: 0;

  background: #d0cac1; /* hover color */

  
  transform: translateX(-100%);
  transition: transform 0.4s ease;

  z-index: -1;
}

/* hover effect */
.btn-slide:hover::before {
  transform: translateX(0);
}

/* optional text color change */
